nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img {
    width: 80px;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

h1 {
    color:green;
}