<!doctype html>
<html>
  <head>
    <title>DyAI</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
    />
    <link rel="stylesheet" href="../Static/css/styles.css" />
  </head>
  <body>
    <nav>
      <img
        src="{{url_for('static', filename='images/dai_logo.png')}}"
        alt="dai logo"
      />
      <a href="">Other Projects</a>
    </nav>

    <div class="main-section">
      <h1>Chat with me in the below textbox!</h1>
      <form method="POST" class="main-form">
        <label for="dai-chatbox">Chat box</label>
        <input type="text" id="dai-chatbox" name="chat_input" />

        {% if chat_output %}
          <div class="output">
                {{ chat_output }}
          </div>
        {% endif %}
      </form>
    </div>
  </body>
</html>
